<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

<session-factory>
  <!-- Database connection properties - Driver, URL, user, password -->
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://195.37.176.178:11336/dbwebanw_sose15_09</property>
  <property name="hibernate.connection.username">dbweb_user_09</property>
  <property name="hibernate.connection.password">hTKPptAEAc</property>
  <!-- Connection Pool Size -->
  <property name="hibernate.connection.pool_size">1</property>

  <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
  <property name="hibernate.current_session_context_class">thread</property>

  <!-- Outputs the SQL queries, should be disabled in Production -->
  <property name="hibernate.show_sql">false</property>

  <!-- Dialect is required to let Hibernate know the Database Type, MySQL, Oracle etc
      Hibernate 4 automatically figure out Dialect from Database Connection Metadata -->
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

  <!-- mapping file, we can use Bean annotations too -->
  <!--mapping resource="employee.hbm.xml" /-->
  <mapping class="Tables.Kunde" />
  <mapping class="Tables.Fahrzeug" />
  <mapping class="Tables.Fahrzeugmodell" />
  <mapping class="Tables.Geschaeftsstelle" />
  <mapping class="Tables.Mitarbeiter" />
  <mapping class="Tables.Rechnung" />
  <mapping class="Tables.Termin" />
  <mapping class="Tables.TerminManagement" />

  <mapping class="Views.KundeZuRechnung"/>
  <mapping class="Views.Arbeitsort"/>
  <mapping class="Views.FahrzeugeMitTermindaten"/>
  <mapping class="Views.RechnungProTermin"/>
  <mapping class="Views.TerminFahrzeug"/>
  <mapping class="Views.TerminZuKunde"/>

</session-factory>
</hibernate-configuration>